<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Registered Actions</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody><tr>
                        <th>Name</th>
                        <th>Version</th>
                        <th>Description</th>
                        <th>Required Parameters</th>
                        <th>Optional Parameters</th>
                        <th>Output Example</th>
                    </tr>
                    <tr ng-repeat="action in actionDefinitions">
                        <td>{{action.name}}</td>
                        <td>{{action.version}}</td>
                        <td>{{action.description}}</td>
                        <td><span style="margin:2px" ng-repeat="requiredInput in action.inputs.required" class="label label-default" >{{requiredInput}}</span></td>
                        <td><span style="margin:2px" ng-repeat="optionalInput in action.inputs.optional" class="label label-default" >{{optionalInput}}</span></td>
                        <td><pre>{{ action.outputExample | json }}</pre></td>

                    </tr>
                    </tbody></table>
            </div><!-- /.box-body -->
            <div ng-hide="actionDefinitions" class="overlay"></div>
            <div ng-hide="actionDefinitions" class="loading-img"></div>
            <div class="box-footer">

            </div><!-- /.box-footer-->
        </div>
    </div>
</div>