<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Registered Plugins</h3>
            </div>
            <div class="box-body">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Plugins</div>

                    <!-- Table -->
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Version</th>
                            <th>Description</th>
                        </tr>
                        <tr ng-repeat="plugin in plugins">
                            <td style="width: 25%"><a href="" ng-click="open(plugin.readme)">{{plugin.name}}</a></td>
                            <td style="width: 25%"><a href="" ng-click="open(plugin.changelog)">{{plugin.version}}</a></td>
                            <td style="width: 50%">{{plugin.description}}</td>
                        </tr>
                    </table>
                </div>
            </div><!-- /.box-body -->
            <div ng-hide="plugins" class="overlay"></div>
            <div ng-hide="plugins" class="loading-img"></div>
            <div class="box-footer">

            </div><!-- /.box-footer-->
        </div>
    </div>
</div>





