<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Registered Users</h3>
                <div class="box-tools">
                    <div class="input-group pull-right">
                        <div class="btn-group">
                            <button type="button" ng-click="addUser()" class="btn btn-default"><i class="fa  fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody><tr>
                        <th>Email</th>
                        <th>Username</th>
                        <th>Created</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Actions</th>
                    </tr>
                    <tr ng-repeat="user in users">
                        <td>{{user.value.email}}</td>
                        <td>{{user.value.username}}</td>
                        <td>{{user.createdAt | date:'medium'}}</td>
                        <td>{{user.value.firstName}}</td>
                        <td>{{user.value.lastName}}</td>
                        <td>
                            <button class="btn btn-default btn-sm" ng-click="editUser(user)"><i class="fa fa-pencil"></i> Edit</button>
                            <button class="btn btn-default btn-sm" ng-click="deleteUser(user.value.username, $index)"><i class="fa fa-trash"></i> Delete</button>
                        </td>
                    </tr>
                </tbody></table>
            </div>
        </div>
    </div>
</div>