.box {
    position: relative;
    background: #ffffff;
    border-top: 2px solid #c1c1c1;
    margin-bottom: 20px;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

body > .header .logo {
    width: 280px;
}

body > .header .navbar {
    margin-left: 280px;
}

.panelAnimate {
  -webkit-animation:0.5s slide-right;
  animation:0.5s slide-right;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slide-right
{
  0%   {left:-320px;}
  100%  {left:0;}
}

/* Standard syntax */
@keyframes slide-right
{
  0%   {left:-320px;}
  100%  {left:0;}
}


input.ng-invalid {
  border: 1px solid red;
}