<div class="row">
    <div class="col-md-12">
        <div class="box" ng-if="redisSentinels">
            <div class="box-header">
                <h3 class="box-title">Redis Sentinels</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 10px"></th>
                            <th>Server</th>
                            <th>Version</th>
                            <th>Master</th>
                            <th>Uptime</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="sentinel in redisSentinels">
                            <td></td>
                            <td>{{sentinel.run_id}}</td>
                            <td>{{sentinel.redis_version}}</td>
                            <td>{{sentinel.master0}}</td>
                            <td>{{sentinel.uptime_in_seconds}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box" ng-if="redisData">
            <div class="box-header">
                <h3 class="box-title">Redis Server</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 10px"></th>
                            <th>Server</th>
                            <th>Version</th>
                            <th>Master</th>
                            <th>Uptime</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>{{redisData.run_id}}</td>
                            <td>{{redisData.redis_version}}</td>
                            <td>{{redisData.master0}}</td>
                            <td>{{redisData.uptime_in_seconds}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
</div>
