<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Action Statistics</h3>
    <div class="box-tools pull-right">
    
      <button ng-click="open()" title="Open Settings" class="btn btn-box-tool"><i class="fa fa-wrench"></i></button>
      <button ng-click="retrieveStats();" title="Refresh Stats" class="btn btn-box-tool">
        <i class="fa fa-refresh"></i>
      </button>
      <button ng-click="toggleStreaming();" title="Toggle AutoRefresh" class="btn btn-box-tool">
        <i class="fa fa-circle-o-notch" ng-class="{ 'fa-spin': streamingActive }"></i>
      </button>                 
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div>
      <div class="chart" id="{{directiveId}}" style="height: 300px;">
        <div ng-bind-html="error"></div>
      </div>
    </div>
  </div>
</div>